<%- include("template/cabecera", {tituloWeb: 'Crear nueva mascota'}) %>

    <div class="container">
        <h1>Crear</h1>
        <form action="/mascotas" method="POST">
            <input 
                type="text"
                placeholder="Agregar nombre"
                class="form-control my-2"
                name="nombre"
            >
            <input 
                type="text"
                placeholder="Agregar descripción"
                class="form-control my-2"
                name="descripcion"
            >
            <button
                class="btn btn-success btn-block"
                type="submit"
            >
                Agregar
            </button>
        </form>
    </div>
    

<%- include("template/footer") %>